* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

html, body {
	margin: 0;
	padding: 0
}

html {
	font-family: sans-serif;
	font-size: 18px;
	line-height: 1.5
}

@media (max-width:41em) {
	html {
		font-size: 16px
	}

}

body {
	color: #515151;
	background-color: #fff;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%
}

a {
	color: #2196F3;
	text-decoration: none
}

a:hover, a:focus {
	text-decoration: underline
}

a strong {
	color: inherit
}

img {
	display: block;
	max-width: 100%
}

table {
	margin-bottom: 1rem;
	width: 100%;
	font-size: 85%;
	border: 1px solid #e5e5e5;
	border-collapse: collapse
}

td, th {
	padding: .75rem .75rem;
	border: 1px solid #e5e5e5
}

th {
	text-align: left
}

.my-cv {
	border: 1px #eeeeee solid;
	padding: 15px;
	background-color: #eeeeee
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: .5rem;
	font-weight: bold;
	line-height: 1.25;
	color: #313131;
	text-rendering: optimizeLegibility
}

h1 {
	font-size: 1.75rem
}

h2 {
	margin-top: 1rem;
	font-size: 1.25rem
}

h3 {
	margin-top: 1.5rem;
	font-size: 1.1rem
}

h4, h5, h6 {
	margin-top: 1rem;
	font-size: 1rem
}

p {
	margin-top: 0;
	margin-bottom: 1rem
}

strong {
	color: #303030;
	font-size: 125%
}

ul, ol, dl {
	margin-top: 0;
	margin-bottom: 1rem
}

dt {
	font-weight: bold
}

dd {
	margin-bottom: .5rem
}

hr {
/*	position: relative;
*/	margin: 1.5rem 0;
	border: 0;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #fff
}

abbr {
	font-size: 85%;
	font-weight: bold;
	color: #555;
	text-transform: uppercase
}

abbr[title] {
	cursor: help;
	border-bottom: 1px dotted #e5e5e5
}

blockquote {
	padding: .5rem 1rem;
	margin: .8rem 0;
	color: #7a7a7a;
	border-left: .25rem solid #e5e5e5
}

blockquote p:last-child {
	margin-bottom: 0
}

@media (min-width:30em) {
	blockquote {
		padding-right: 5rem;
		padding-left: 1.25rem
	}

}

a[href^="#fn:"], a[href^="#fnref:"] {
	display: inline-block;
	margin-left: .1rem;
	font-weight: bold
}

.footnotes {
	margin-top: 2rem;
	font-size: 85%
}

.lead {
	font-size: 1.25rem;
	font-weight: 300
}

.highlight .hll {
	background-color: #ffc
}

.highlight .c {
	color: #999
}

.highlight .err {
	color: #a00;
	background-color: #faa
}

.highlight .k {
	color: #069
}

.highlight .o {
	color: #555
}

.highlight .cm {
	color: #09f;
	font-style: italic
}

.highlight .cp {
	color: #099
}

.highlight .c1 {
	color: #999
}

.highlight .cs {
	color: #999
}

.highlight .gd {
	background-color: #fcc;
	border: 1px solid #c00
}

.highlight .ge {
	font-style: italic
}

.highlight .gr {
	color: red
}

.highlight .gh {
	color: #030
}

.highlight .gi {
	background-color: #cfc;
	border: 1px solid #0c0
}

.highlight .go {
	color: #aaa
}

.highlight .gp {
	color: #009
}

.highlight .gu {
	color: #030
}

.highlight .gt {
	color: #9c6
}

.highlight .kc {
	color: #069
}

.highlight .kd {
	color: #069
}

.highlight .kn {
	color: #069
}

.highlight .kp {
	color: #069
}

.highlight .kr {
	color: #069
}

.highlight .kt {
	color: #078
}

.highlight .m {
	color: #f60
}

.highlight .s {
	color: #d44950
}

.highlight .na {
	color: #4f9fcf
}

.highlight .nb {
	color: #366
}

.highlight .nc {
	color: #0a8
}

.highlight .no {
	color: #360
}

.highlight .nd {
	color: #99f
}

.highlight .ni {
	color: #999
}

.highlight .ne {
	color: #c00
}

.highlight .nf {
	color: #c0f
}

.highlight .nl {
	color: #99f
}

.highlight .nn {
	color: #0cf
}

.highlight .nt {
	color: #2f6f9f
}

.highlight .nv {
	color: #033
}

.highlight .ow {
	color: #000
}

.highlight .w {
	color: #bbb
}

.highlight .mf {
	color: #f60
}

.highlight .mh {
	color: #f60
}

.highlight .mi {
	color: #f60
}

.highlight .mo {
	color: #f60
}

.highlight .sb {
	color: #c30
}

.highlight .sc {
	color: #c30
}

.highlight .sd {
	color: #c30;
	font-style: italic
}

.highlight .s2 {
	color: #c30
}

.highlight .se {
	color: #c30
}

.highlight .sh {
	color: #c30
}

.highlight .si {
	color: #a00
}

.highlight .sx {
	color: #c30
}

.highlight .sr {
	color: #3aa
}

.highlight .s1 {
	color: #c30
}

.highlight .ss {
	color: #fc3
}

.highlight .bp {
	color: #366
}

.highlight .vc {
	color: #033
}

.highlight .vg {
	color: #033
}

.highlight .vi {
	color: #033
}

.highlight .il {
	color: #f60
}

.css .o, .css .o+.nt, .css .nt+.nt {
	color: #999
}

code, pre {
	font-family: Menlo, Monaco, "Courier New", monospace
}

code {
	padding: .25em .5em;
	font-size: 85%;
	color: #bf616a;
	background-color: #f9f9f9;
	border-radius: 3px
}

pre {
	margin-top: 0;
	margin-bottom: 1rem
}

pre code {
	padding: 0;
	font-size: 100%;
	color: inherit;
	background-color: transparent
}

.highlight {
	padding: 1rem;
	margin-bottom: 1rem;
	font-size: .8rem;
	line-height: 1.4;
	background-color: #f9f9f9;
	border-radius: .25rem
}

.highlight pre {
	margin-bottom: 0;
	overflow-x: auto
}

.highlight .lineno {
	display: inline-block;
	padding-right: .75rem;
	padding-left: .25rem;
	color: #999;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none
}

.container {
	max-width: 55rem;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-left: auto;
	margin-right: auto
}

footer {
	background-color: #1E1E24;
	color: #e6e6e6;
	padding-bottom: 2rem;
	padding-top: 1rem;
	margin-top: 2em
}

@media (max-width:41em) {
	footer {
		padding-left: 1em;
		padding-right: 1em
	}

}

.footer {
	max-width: 45em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	display: flex;
	padding: 20px
}

.footer-half-l, .footer-half-r {
	flex: 1
}

@media screen and (max-width:600px) {
	.footer {
		display: block
	}

	.footer-half-l {
		padding-bottom: 20px
	}

}

div.social {
	display: block;
	height: 2.25em
}

img.social-icon {
	float: left;
	max-width: 1.5em;
	margin-right: 1em
}

h1, h2, h3, h4, h5, h6, p, blockquote, ul, ol, dl, table, time, .message, .highlight, .gist-file, .pagination {
	max-width: 35rem;
	margin-left: auto;
	margin-right: auto
}

.comments {
	max-width: 35em;
	margin-right: auto;
	margin-left: auto
}

hr {
	max-width: 35em;
	margin-left: auto;
	margin-right: auto
}

.masthead {
	padding-top: 1rem;
	padding-bottom: 0rem;
	margin-bottom: 0rem
}

@media (max-width:41em) {
	.masthead {
		padding-left: 1em;
		padding-right: 1em
	}

}

.masthead-title {
	margin-top: 0;
	margin-bottom: 0;
	color: #303030
}

.masthead-title a {
	color: #303030
}

.masthead-title a:hover {
	text-decoration: none
}

.masthead-title small {
	font-size: 60%;
	font-weight: 400;
	color: #878787;
	letter-spacing: 0
}

.mastheadspacer {
	display: none
}

@media (max-width:41em) {
	.mastheadspacer {
		display: block
	}

}

nav {
	border-bottom: 1px #ECECEC solid;
	margin-bottom: 3em;
	padding-bottom: 1em;
	padding-top: 0.25em
}

@media (max-width:41em) {
	nav {
		padding-left: 1em;
		padding-right: 1em
	}

}

.nav {
	max-width: 35em;
	margin-left: auto;
	margin-right: auto;
	font-size: 500
}

.masthead-slash {
	display: none;
	color: #2196F3;
	font-size: 75%
}

@media (min-width:41em) {
	.masthead-slash {
		display: inline
	}

}

.page, .post {
	margin-bottom: 4em
}

.page-title, .post-title {
	color: #303030
}

.post-title a {
	color: #2196F3
}

.page-title, .post-title {
	margin-top: 0
}

.post-date {
	display: block;
	margin-top: -.5rem;
	margin-bottom: 1rem;
	color: #9a9a9a
}

.related {
	padding-top: 2rem;
	padding-bottom: 2rem;
	border-top: 1px solid #eee
}

.related-posts {
	padding-left: 0;
	list-style: none
}

.related-posts h3 {
	margin-top: 0
}

.related-posts li small {
	font-size: 75%;
	color: #999
}

.related-posts li a:hover {
	color: #2196F3;
	text-decoration: none
}

.related-posts li a:hover small {
	color: inherit
}

.pagination {
	overflow: hidden;
	color: #ccc;
	text-align: center
}

.pagination-item {
	display: block;
	padding: 1rem;
	border: solid #eee;
	border-width: 1px 0
}

.pagination-item:first-child {
	margin-bottom: -1px
}

a.pagination-item:hover {
	background-color: #f5f5f5
}

@media (min-width:30em) {
	.pagination-item {
		float: left;
		width: 50%;
		border-width: 1px
	}

	.pagination-item:first-child {
		margin-bottom: 0;
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px
	}

	.pagination-item:last-child {
		margin-left: -1px;
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px
	}

}

.message {
	margin-bottom: 1rem;
	padding: 1rem;
	color: #717171;
	border: 1px solid;
	border-color: #dddddd
}

figure {
	display: block;
	margin-top: 2em;
	margin-bottom: 2em;
	margin-left: 0;
	margin-right: 0
}

figure figcaption {
	display: block;
	text-align: center;
	color: #B0B6BB;
	font-size: 16px
}

figure figcaption.classic {
	width: 100%;
	max-width: 35em;
	margin-left: auto;
	margin-right: auto
}

figure figcaption.single {
	width: 100%;
	max-width: 40em;
	margin-left: auto;
	margin-right: auto
}

figure img {
	float: left;
	margin-bottom: 0.5em
}

figure img.full {
	margin-left: auto;
	margin-right: auto;
	float: none
}

figure img.single {
	float: none;
	width: 100%;
	max-width: 40em;
	margin-left: auto;
	margin-right: auto
}

figure img.classic {
	float: none;
	width: 100%;
	max-width: 35em;
	margin-left: auto;
	margin-right: auto
}

figure img.iphone {
	float: none;
	max-width: 18em;
	margin-left: auto;
	margin-right: auto
}

figure img.lhalf {
	max-width: 49.5%;
	margin-right: 0.5%
}

figure img.rhalf {
	max-width: 49.5%;
	margin-left: 0.5%
}

figure img.lthird {
	max-width: 32.5%;
	margin-right: 0.625%
}

figure img.mthird {
	max-width: 32.5%;
	margin-left: 0.625%;
	margin-right: 0.625%
}

figure img.rthird {
	max-width: 32.5%;
	margin-left: 0.625%
}

figure video.lhalf {
	margin-bottom: 0.5em;
	float: left;
	max-width: 49.5%;
	margin-right: 0.5%
}

figure video.rhalf {
	margin-bottom: 0.5em;
	float: left;
	max-width: 49.5%;
	margin-left: 0.5%
}

table figure {
	max-width: 100px
}

button {
	font-size: 14px;
	font-weight: 500;
	padding-top: 8px;
	padding-bottom: 10px;
	padding-right: 15px;
	padding-left: 15px;
	color: #845fb4;
	background: #ffffff;
	border: solid 1px #2196F3;
	border-radius: 4px;
	-webkit-transition: 0.35s color ease, 0.35s background-color ease;
	-moz-transition: 0.35s color ease, 0.35s background-color ease;
	-ms-transition: 0.35s color ease, 0.35s background-color ease;
	-o-transition: 0.35s color ease, 0.35s background-color ease;
	transition: 0.35s color ease, 0.35s background-color ease
}

button:hover, button.hover {
	border-color: #2196F3;
	background-color: #2196F3;
	color: #ffffff;
	cursor: pointer
}

button:hover a {
	text-decoration: none;
	color: #ffffff
}

#cv h1, #cv h2, #cv h3, #cv h4, #cv h5, #cv h6, #cv p, #cv blockquote, #cv ul, #cv ol, #cv dl, #cv table, #cv time, #cv .message, #cv .highlight, #cv .gist-file, #cv .pagination, hr {
	max-width: 55rem;
	margin-left: 5rem
}

.cv-award {
	color: #FBC02D;
	font-weight: 600
}

#cv p, #cv .post-date {
	font-size: 16px
}

#cv a {
	color: #515151
}

#cv a:hover, #cv a strong:hover {
	color: #2196F3;
	text-decoration: none
}

#cv .pub-misc, .pub-misc {
	font-size: 0.6rem
}

.cover-links>.pub-misc {
	font-size: 12px
}

#cv .pub-misc a, .pub-misc a {
	color: #2196F3;
	margin-right: 1em;
	white-space: nowrap
}

#cv .pub-misc a:hover, .pub-misc a:hover {
	color: #2196F3 !important
}

#cv h3 {
	margin-top: 0rem;
	font-weight: 300
}

#cv h2 {
	margin-top: 2.5rem;
	font-weight: 300;
	color: #313131
}

#cv h1 {
	color: #313131;
	padding-bottom: 0px;
	margin-bottom: 0px
}

#cv strong a, a strong {
	color: #303030
}

#cv .cv-blue-link a, .cv-blue-link a {
	color: #2196F3
}

#cv .cv-left-date, #cv .cv-left-date-extra, #cv .cv-left-date-mobile {
	margin-left: -5rem;
	width: 5rem;
	display: inline-block;
	font-size: 12px;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 0;
	padding: 0
}

#cv .cv-left-date-mobile {
	display: none
}

.cv-spacer {
	margin-top: 5px;
	display: block
}

.cv-spacer-award {
	margin-top: 5px;
	display: block
}

.cv-spacer-line {
	margin-top: 5px;
	display: block;
	background-color: #eee;
	height: 1px;
	max-width: 250px;
	margin-bottom: 5px
}

#cv .cv-description {
	color: #3b3a3a;
	font-size: 14px;
	font-weight: 300
}

#cv .cv-description a {
	color: #3b3a3a
}

#cv .cv-description a:hover {
	color: #2196F3
}

#cv .cv-subtitle {
	font-size: 20px
}

#cv .cv-pdf {
	padding: 10px;
	border: 1px solid red
}

#cv .cv-ai {
	color: #E7841E
}

#cv .cv-vis {
	color: #2196F3
}

#cv time {
	color: #9a9a9a;
	font-weight: 300
}

#cv .cv-max-width {
	max-width: 35rem;
	padding-left: 0rem;
	display: block;
	font-size: 18px
}

#cv .cv-website-marker {
	border: 1px solid;
	padding-top: 1px;
	padding-bottom: 2px;
	padding-left: 8px;
	padding-right: 8px;
	border-radius: 4px
}

#cv .intro-image-links {
	margin-left: 5rem
}

#cv .cv-image-links-wrapper {
	display: flex;
	margin-left: 5rem;
	max-width: 600px
}

#cv .cv-image-links {
	flex: 1
}

#cv pre {
	margin-left: 0px !important
}

#cv .parametric-press, #cv .parametric-press a {
	font-size: 13px;
	font-weight: 400
}

#cv .parametric-press a:hover {
	color: #2196F3 !important
}

@media screen and (max-width:600px) {
	#cv h1, #cv h2, #cv h3, #cv h4, #cv h5, #cv h6, #cv p, #cv blockquote, #cv ul, #cv ol, #cv dl, #cv table, #cv time, #cv .message, #cv .highlight, #cv .gist-file, #cv .pagination, hr {
		margin-left: 0
	}

	#cv .intro-image-links {
		margin-left: 0
	}

	#cv .cv-left-date {
		margin-left: 0;
		display: block;
		width: 100%
	}

	#cv .cv-left-date-extra {
		margin-left: 0;
		display: block;
		width: 100%;
		display: none
	}

	#cv .cv-left-date-mobile {
		margin-left: 0;
		width: 100%;
		display: block
	}

	#cv .cv-image-links-wrapper {
		display: block;
		width: 100%;
		margin-left: 0
	}

}

#cv .normal-web-width {
	max-width: 35rem;
	padding-left: 0rem;
	display: block;
	font-size: 18px
}

#cv .normal-web-width p {
	font-size: 18px;
	margin-left: 0rem
}

.bibtex .highlight {
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0em;
	padding-bottom: 0em
}

.paper h1, .paper h2, .paper h3, .paper h4, .paper h5, .paper h6, .paper p, .paper blockquote, .paper ul, .paper ol, .paper dl, .paper table, .paper time, .paper .message, .paper .highlight, .paper .gist-file, .paper .pagination, hr {
	max-width: 55rem
}

.paper figcaption {
	text-align: left !important
}

.paper figure figcaption.single {
	width: 100%;
	max-width: 55em;
	font-size: 14px
}

.bib .highlight {
	max-width: none
}

.bib .highlight:hover {
	background-color: #ececec
}

.paper .highlight {
	max-width: none
}

.paper .highlight:hover {
	background-color: #ececec
}

.paper code {
	word-break: keep-all;
	white-space: pre-wrap
}

.paper h1 {
	margin-bottom: 0rem
}

.paper h2 {
	margin-top: 1.8rem;
	margin-bottom: 0.2rem
}

.paper a {
	color: #515151
}

.paper .pub-misc a {
	color: #2196F3
}

.paper a:hover {
	color: #2196F3;
	text-decoration: none
}

.paper-spacer {
	margin-top: 5px;
	display: block
}

.card {
	background: #fff;
	display: inline-block;
	height: 250px;
	margin: 1rem;
	position: relative;
	width: 250px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
	cursor: pointer
}

.card:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	text-decoration: none
}

.card-link {
	text-decoration: none !important
}

.card-inner {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 250px;
	border-radius: 50%;
	margin: 25px;
	width: 200px;
	height: 200px !important;
	background-color: #eeeeee
}

.card-inner-hole {
	height: 50px;
	width: 50px;
	margin-left: 75px;
	margin-right: 75px;
	margin-top: 15px;
	margin-bottom: 15px;
	background: #ffffff;
	border-radius: 50%
}

.card-label {
	font-family: 'Gaegu', cursive;
	font-weight: 700;
	font-size: 20px;
	background-color: #ffffff;
	border: 1px solid #444444;
	color: #222222
}

.card-label-year {
	font-family: 'Gaegu', cursive;
	font-weight: 300;
	font-size: 18px;
	color: #ffffff
}

.january {
	background: linear-gradient(135deg, #13f1fc 0%, #0470dc 100%)
}

.february {
	background: linear-gradient(135deg, #F5515F 0%, #A1051D 100%)
}

.march {
	background: linear-gradient(135deg, #65799b 0%, #5e2563 100%)
}

.april {
	background: linear-gradient(135deg, #C56CD6 0%, #3425AF 100%)
}

.may {
	background: linear-gradient(135deg, #f02fc2 0%, #6094ea 100%)
}

.june {
	background: linear-gradient(135deg, #c3ec52 0%, #0ba29d 100%)
}

.july {
	background: linear-gradient(135deg, #184e68 0%, #57ca85 100%)
}

.august {
	background: linear-gradient(135deg, #F36265 0%, #961276 100%)
}

.september {
	background: linear-gradient(135deg, #fcdf8a 0%, #f38381 100%)
}

.october {
	background: linear-gradient(135deg, #fad961 0%, #f76b1c 100%)
}

.november {
	background: linear-gradient(135deg, #f2d50f 0%, #da0641 100%)
}

.december {
	background: linear-gradient(135deg, #5b247a 0%, #1bcedf 100%)
}

.cover-wrapper-double {
	display: flex
}

.cover-warpper-with-title {
	display: flex;
	flex-direction: column
}

.cover-wrapper {
	display: flex;
	flex-flow: row wrap;
	justify-content: center
}

.cover {
	height: auto;
	width: 300px !important;
	margin-top: 0.35rem;
	margin-bottom: 0.35rem;
	margin-left: 0.35rem;
	margin-right: 0.35rem;
	border: 1px rgba(0, 0, 0, 0.12) solid;
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
	text-align: left;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	justify-content: space-between
}

.cover:hover {
	box-shadow: 0 7px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
	text-decoration: none
}

.cover-side {
	font-size: 20px;
	height: 337.5px;
	width: 212.5px;
	margin-top: 0.35rem;
	margin-bottom: 0.35rem;
	margin-left: 0.35rem;
	margin-right: 0.35rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: right;
	padding: 20px
}

.cover-text-header {
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #000;
	line-height: 0.1em;
	margin: 10px 0 20px
}

.cover-text-header-line {
	background: #fff;
	padding: 0 10px
}

.hr-text {
	margin-left: 0;
	color: #515151;
	font-weight: 600;
	line-height: 1em;
	position: relative;
	outline: 0;
	border: 0;
	text-align: center;
	height: 1.5em
}

.hr-text:before {
	content: '';
	background: rgba(0, 0, 0, 0.12);
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	height: 1px
}

.hr-text:after {
	content: attr(data-content);
	position: relative;
	display: inline-block;
	padding: 0 .5em;
	line-height: 1.5em;
	background-color: #ffffff
}

.cover-inner {
	padding: 8px 16px 4px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-grow: 1
}

.cover-title {
	font-size: 19px;
	text-transform: capitalize;
	font-weight: 600;
	color: #313131
}

.cover-title a {
	color: #313131
}

.cover-top a:hover {
	text-decoration: none !important
}

.cover-subtitle {
	padding-top: 8px;
	font-size: 13px;
	color: #717171
}

.cover-authors {
	font-size: 11px
}

.cover-footer-wrapper {
	padding-top: 8px;
	display: flex;
	justify-content: space-between
}

.cover-venue, .cover-year, .cover-links {
	font-size: 12px;
/*	padding-top: 8px
*/}

.cover-venue {
	font-style: italic
}

.cover-year {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	text-align: right
}

.cover-image {
	padding-top: 8px;
	margin-left: auto;
  	margin-right: auto;
	height: 100px;/* 25% of 400 */
}


.cover-link {
	text-decoration: none
}

@media screen and (max-width:950px) {
	.cover-wrapper {
		max-width: 600px;
		margin: 0 auto
	}

}

@media screen and (max-width:600px) {
	.cover {
		width: 100%;
		height: auto
	}

	.cover-side {
		height: auto;
		width: 100%;
		text-align: left
	}

}

.icon {
	color: #515151;
	font-size: 1.25em
}

.intro {
	display: flex;
	flex-flow: row wrap;
	justify-content: center
}

.intro-title {
	margin-left: 0rem;
	color: #147
}

.intro-text {
	flex: 1;
	padding-right: 25px
}

.intro-image {
	flex: 0 0 190px;
	margin: 0 auto
}

.intro-image-links-color {
	color: #515151
}

.intro-image-links {
	padding-top: 10px;
	padding-bottom: 20px;
	font-size: 14px
}

.intro-cv-wrapper {
	text-align: left;
	font-size: 14px
}

.intro-cv {
	border: 1px rgba(0, 0, 0, 0.12) solid;
	padding: 10px;
	text-align: center;
	border-radius: 5px;
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1)
}

.intro-cv:hover {
	box-shadow: 0 7px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22)
}

.intro-logo {
	display: inline;
	width: 21px;
	vertical-align: middle
}

.everything-else {
	margin-left: 5rem;
	margin-right: 5rem;
	max-width: 45rem
}

@media screen and (max-width:900px) {
	.intro {
		margin-left: 1rem;
		margin-right: 1rem
	}

	.intro-title {
		margin-left: 1rem
	}

	.everything-else {
		margin-left: 1rem;
		margin-right: 1rem
	}

}

@media screen and (max-width:600px) {
	.intro-title {
		margin-bottom: 25px
	}

	.intro-text {
		order: 2;
		flex: 0 0 100%;
		padding-right: 0
	}

	.intro-image {
		order: 1;
		padding-bottom: 20px
	}

}

.bigger {
	font-size: 150%;
}


/*https://stackoverflow.com/questions/3593594/how-to-keep-the-header-static-always-on-top-while-scrolling*/
header {
	top:0;
  margin: 0rem;
  position: sticky;
  padding:10px 0 0 0;
  background: white;
  font-family: Lato, Arial;
  opacity:1
}

#targetintro, #targetresearch, #targetedu, #targetawards, #targetwork, #targetpubs, #targetaproject, #targetskill {
  scroll-margin-top: 50px;
}

/*a {
  color: inherit;
}*/